h1{
    background-color: blueviolet;
    color: #fff;
}
h2{
    background-color: chartreuse;
    color: chocolate;
    margin: 100px 0;
}
p{
    margin-top: 50px;
    color:red;
    font-weight: 600;
    font-size: 16px;
}